BasedOnStyle: Google

IndentWidth: 4
UseTab: Never

PointerAlignment: Left

ColumnLimit: 80

BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false

BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: false
AllowShortLoopsOnASingleLine: false
