BasedOnStyle: Google

IndentWidth: 4
UseTab: Never

IncludeCategories:
  - Regex: 'pch.h'
    Priority: -1000
  - Regex: "^<.*>"
    Priority: 2
  - Regex: '^".*"'
    Priority: 3

SortIncludes: true

PointerAlignment: Left

ColumnLimit: 80

NamespaceIndentation: All

BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false

BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
