name: Build vcpkg cache

on:
  workflow_dispatch:

jobs:
  build-cache:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        triplet: [x64-windows, arm64-windows]

    env:
      VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite;files,C:/vcpkg_cache,readwrite"
      VCPKG_KEEP_ENV_VARS: "VSCMD_SKIP_SENDTELEMETRY"

    steps:
      - uses: actions/checkout@v6

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: 'vcpkg.json'

      - name: Create Cache Directory
        shell: cmd
        run: mkdir C:\vcpkg_cache

      - name: Install Dependencies
        shell: cmd
        run: |
          "%VCPKG_ROOT%\vcpkg" install --triplet ${{ matrix.triplet }} --allow-unsupported

      - name: Zip Cache
        shell: powershell
        run: Compress-Archive -Path "C:\vcpkg_cache\*" -DestinationPath "vcpkg_cache_${{ matrix.triplet }}.zip"

      - name: Upload Binary Cache
        uses: actions/upload-artifact@v4
        with:
          name: vcpkg-cache-${{ matrix.triplet }}
          path: vcpkg_cache_${{ matrix.triplet }}.zip
          retention-days: 15
